.landing-message_wrapper{
  width: 100%;
  padding: 120px 0;
  border-bottom: 5px solid #000000;
  border-top: 5px solid #000000;
  background-position: center;
  background-repeat: no-repeat;
  /* background-image:linear-gradient(left top, #bc2a8d 39%, #fccc63 40%,#e95950 41%); */
  background-image: url("https://images.unsplash.com/photo-1508081883599-a58656e0ac48?ixlib=rb-0.3.5&s=1cf5d5dbc14a05752c0ec5998a7d8e8c&auto=format&fit=crop&w=1778&q=80");
}

.section1{
  margin: 0 auto;
  width: 100%;
  max-width: 1320px;
  padding: 10px;
  /* background-color: rgba(0,0,0,0); */
  display: flex;
  justify-content: center;
  /* background-image:linear-gradient(left top, #bc2a8d 22%, #fccc63 53%,#e95950 69%); */
}

.section1Left{
  /* background: white; */
  height: 310px;
  width: 50%;
  margin-right: -6%;
  display: inline-block;
  /* background: pink; */
}

.section1LeftContent{
  /* background: pink; */
  text-align: left;
  /* width: 600px; */
  height: auto;
  margin: 7% 0 0 -5%;
  /*position: relative;*/
}

.section1LeftContent h1{
  color: white;
  text-shadow: 2px 2px #525252;
  /*transform: scaleX(1);*/
  font-size: 50px;
  line-height: 53px; 
  font-weight: bold;
  transform: scale(.8, 1);
  text-align: center;
}
.section1LeftTitle{
  font-size: 80px !important;
  margin: 15px 0px;
}
.section1LeftContent h3{
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px #525252;

  font-weight: bold;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.2em;
  transform: scale(.9,1);
}
.section1LeftContent p{
  text-align: center;
  line-height: .1em;
  font-weight: bold;
  color: #1d38a2;
}
.section1LeftContent p:hover{
  cursor: pointer;
  color: #1f2a59;
}

.section1Right{
  /* background:pink; */
  position: relative;
  height: 310px;
  width: 50%;
  /* background: rgb(157, 157, 157); */
}
.section1RightPhone {
  /* background: white; */
  height: 650px;
  width: 300px;
  position: absolute;
  left: calc(50% - 140px);
  top: -120px;
  background-size: 650px 650px;
  background-repeat: no-repeat;
  background-position: right -170px bottom 40px;
  background-image: url("https://www.freeiconspng.com/uploads/white-iphone-6-png-32.png")
}
.section1RightPhone img {
  height: 410px;
  width: 228px;
  position: absolute;
  left: 22px;
  top: 67px;
  z-index: 8;
}
.section1Right div {
  z-index: 5;
  /* background: pink; */
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top:18%;
  position: absolute;
  margin: 0 auto;
  /* display: block; */
}
.section1Right h2 {
  font-weight: bolder;
  font-size: 3em;
  transform: scale(.9, 1);
}
.section1Right p {
  font-weight: 900;
  font-size: 6em;
  transform: scale(.8, 1);
}

@media (max-width: 950px){
  .landing-message_wrapper{
    padding: 0px 0;
    height: 800px;
  }
  .section1RightPhone{
    top: 0px;
  }
  .section1{
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }

  .section1Left{
      width: 100%;
      height: fit-content;
      margin: 20px 0;
  }

  .section1LeftContent{
      max-width: 400px;
      width: 90%;
      height: auto;
      margin: 0 auto;
      text-align: center;
  }
  .section1LeftTitle{
    font-size: 40px !important;
  }

  .section1LeftContent h1{
      font-size: 25px;
      font-weight: bold;
      line-height: 30px; 
  }
  .section1LeftContent h3{
      line-height: 20px;
      font-size: 13px;
      /* color:black; */
  }
  .section1LeftContent p{
      line-height: 0px;
      margin-top: -10px;
  }

  .section1Right{
    height: auto;
    width: auto;
  }
}