.sign-in_wrapper{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0,0,0,.8);
}

#sign-in_content-wrapper{
  position: relative;
  width: 100%;
  max-width: 350px;
  left: calc(50% - 175px);
  top: 110px;
  background: white;
  border-radius: 3%;
  max-height: 85vh;
  overflow: auto;
  padding-bottom:10px;
}

#sign-in_header{
  margin-top: 0px;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  padding: 25px 0px;
  border-bottom: 1px solid #555;
  background: #ddd;
}

#sign-in_x-out{
  position: absolute;
  left: 1px;
  top: 1px;
  padding: 2px 6px 3px 6px;
  background: #e03333;
  border-radius: 50%;
  width: fit-content;
  min-width: 20px;
}
#sign-in_x-out:hover{
  cursor: pointer;
  background: #bc2b2b;
}
#sign-in_forgot-password{
  width: fit-content;
  font-size: 13px;
  padding: 0px 10px;
  display: block;
  margin: 0 auto;
  color: rgb(40, 104, 215);
}
#sign-in_forgot-password:hover{
  cursor: pointer;
  color: rgb(4, 68, 179);
}
.sign-in_log-in-button{
  background:#a90707f1;
  border: none;
  padding: 16px;
  border-radius: 5px;
  margin: 10px auto 10px auto;
  display:block; 
  width:90%; 
  font-weight:bold;
}
.sign-in_log-in-button:hover{
  background:#8a0606;
  cursor: pointer;
}

@media (max-width: 400px) {
  #sign-in_content-wrapper{
    max-width: 310px;
    left: calc(50% - 155px);
    top: 50px;
  }
}