.edit-image-model_asset{
  transition: height .2s;
} 
.edit-image-model_asset:hover{
  border: 1px solid grey;
  cursor: pointer;
} 
.edit-image-model_upload-button{
  width:fit-content;
  
}
.edit-image-model_upload-button:hover{
  cursor: pointer;
}