.user-asset-manager_main-wrapper {
  width:100%;
}
.user-asset-manager_assets-wrapper {
  min-height: 500px;
  background: pink;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.user-asset-manager_new-image-wrapper{
  width:200px;
  position:relative; 
  height:200px;
  overflow:hidden;
}
.user-asset-manager_new-image-wrapper:hover{
  cursor: pointer;
}