.user-asset-manager_main-wrapper {
  width:100%;
}
.user-asset-manager_assets-wrapper {
  /* background: pink; */
  padding: 30px;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.user-asset-manager_one-asset{
  margin: 5px;
  width:150px;
  position:relative; 
  height:150px;
  overflow:hidden;
  /* background: orange; */
}
.user-asset-manager_one-asset img{
  object-fit: cover;
  /* background: orange; */
}

.user-asset-manager_new-asset{
  width:100%;
  max-width: 1320px;
  margin:5px auto;
  text-align: center;
  padding-bottom: 30px;
  border-radius: 5px;
}
.user-asset-manager_new-asset-image{
  border-radius: 5px;
}
.user-asset-manager_new-asset-image:hover{
  background: rgb(232, 232, 232);
  cursor: pointer;
}

.user-asset-manager_new-asset-button-active{
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background: rgb(25, 97, 25);
  color: white;
  margin-top: 10px;
  transition: background .1s
}
.user-asset-manager_new-asset-button-active:hover{
  background: rgb(20, 131, 20);
  cursor: pointer;
}
.user-asset-manager_new-asset-button-inactive{
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background: rgb(75, 75, 75);
  color: rgb(184, 184, 184);
  margin-top: 10px;
}
.user-asset-manager_new-asset-button-inactive:hover{
  cursor: not-allowed;
}

.user-asset-manager_delete-view-wrapper{
  position: absolute;
  overflow: hidden;
  height: 100%;
  background: rgba(255, 255, 255, 0.516);
  transition: width .2s ease-out;
}
.user-asset-manager_delete-view-wrapper h1{
  margin-top:8px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.user-asset-manager_delete-view-wrapper h2{
  width:60%;
  margin: 10px 20%;
  line-height: 40px;
  border-radius: 5px;
  text-align: center;
}
.user-asset-manager_delete-view-wrapper h2:hover{
  cursor: pointer;
}

@media (max-width: 400px){
  .user-asset-manager_assets-wrapper {
    padding: 30px 5px ;
  }

  .user-asset-manager_one-asset{
    width:140px;
    height:140px;
  }
}